#[tmc2209 extruder]
#stealthchop_threshold: 0
#interpolate: False
#uart_pin: toolboard_t0:PA15
#run_current: 0.707
#driver_TBL: 0
#driver_TOFF: 4
#driver_HEND: 6
#driver_HSTRT: 7
#sense_resistor: 0.11

#[extruder]
#step_pin: toolboard_t0:PD0
#dir_pin: toolboard_t0:PD1
#enable_pin: !toolboard_t0:PD2
#microsteps: 64
#full_steps_per_rotation: 200
#rotation_distance: 35.8