#------------------------------------------------- EXTRUDER -------------------------------------------------
# The extruder motor used for pushing filament through the toolhead
#------------------------------------------------------------------------------------------------------------
[extruder]
microsteps: 64
dir_pin: !e_dir_pin        # Add ! in front of pin name to reverse the direction of extruder
rotation_distance: 35.8   # VzBot VZ-HextrudORT Plus default
pressure_advance: 0.03   # Check https://www.klipper3d.org/Pressure_Advance.html for pressure advance tuning.
full_steps_per_rotation: 200
max_extrude_only_distance: 200
nozzle_diameter: 0.5
filament_diameter : 1.75
sensor_type:MAX31865
sensor_pin: PC9
#pullup_resistor: 2200
spi_bus: spi3a
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
min_temp: 0 
max_temp: 350
heater_pin:e_heater_pin
min_extrude_temp: 170
min_temp: 0
max_temp: 350
pressure_advance: 0.03
#control: pid
#pid_kp: 28.413
#pid_ki: 1.334
#pid_kd: 151.300


#[extruder]
#heater_pin: PF6
#sensor_pin: PB1

[tmc2209 extruder]
stealthchop_threshold: 0
interpolate: False
uart_pin: PA10
run_current: 0.707
driver_TBL: 0
driver_TOFF: 4
driver_HEND: 6
driver_HSTRT: 7
sense_resistor: 0.11

[extruder]
step_pin: PG15
dir_pin: PB6
enable_pin: PG14


