[gcode_macro M107]
rename_existing: G107
gcode:
	{% if params.P is defined %}
	  {% if params.P|int == 2 %}
		SET_FAN_SPEED FAN=RSCS SPEED=0
	  {% elif params.P|int == 3 %}
		SET_FAN_SPEED FAN=Exhaust_fan SPEED=0
	  {% endif %}      
	{% else %}
	  SET_FAN_SPEED FAN=RSCS SPEED=0  
	  SET_FAN_SPEED FAN=Exhaust_fan SPEED=0  
	  G107
	{% endif %}


[gcode_macro NOZZLE_CLEAN]
gcode:
   SAVE_GCODE_STATE NAME=nozzle_clean_state
   M118 Start Wiping macro
   {% if printer.toolhead.position.z|int < 10 %}  
         G90           
         G0 Z20 F6000     
   {% endif %}
   M118 Deploy Servo
   SET_SERVO SERVO=servo_wiper ANGLE=25
   G90
   G1 X117.5 Y166.25 F10000
   M118 Start Wiping
   G1 x15 Y166.25 F12000
   G1 x45 Y168.25 F12000
   G1 x15 Y166.25 F12000
   G1 x45 Y164.25 F12000
   G1 x15 Y166.25 F12000
   G1 x45 Y168.25 F12000
   G1 x15 Y166.25 F12000
   G1 x45 Y164.25 F12000
   G1 x15 Y166.25 F12000
   G1 x45 Y168.25 F12000
   G1 x15 Y166.25 F12000
   G1 x45 Y164.25 F12000
   G1 x15 Y166.25 F12000
   M118 Wiping Done
   G90
   G1 X117.5 Y117.5 F12000
   G1 Y117.5 F12000
   M118 Retract Wiper
   SET_SERVO SERVO=servo_wiper ANGLE=120
   M118 Wiping finished
   G92 E0
   RESTORE_GCODE_STATE NAME=nozzle_clean_state

[delayed_gcode wiper]
initial_duration: 1
gcode:
   SET_SERVO SERVO=servo_wiper ANGLE=120


[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True



[gcode_macro LED_WEISS]
gcode:
    STOP_LED_EFFECTS
    SET_LED LED=neo RED=0 GREEN=0 BLUE=0 WHITE=1
    
[gcode_macro LED_GRUEN]
gcode:
    STOP_LED_EFFECTS
    SET_LED LED=neo RED=0 GREEN=1 BLUE=0 WHITE=0
   
[gcode_macro LED_ROT]
gcode:
    STOP_LED_EFFECTS
    SET_LED LED=neo RED=1 GREEN=0 BLUE=0 WHITE=0
    

[gcode_macro LED_BLAU]
gcode:
    STOP_LED_EFFECTS
    SET_LED LED=neo RED=0 GREEN=0 BLUE=1 WHITE=0

[gcode_macro LED_OFF]
gcode:
    STOP_LED_EFFECTS
    SET_LED LED=neo RED=0 GREEN=0 BLUE=0 WHITE=0

[gcode_macro LED_LIGHT]
gcode:
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=light

[gcode_macro LED_DISCO]
gcode:
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=critical_error

[gcode_macro LED_RGB]
gcode:
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=rgb

[gcode_macro LED_KITT]
gcode:
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=kitt

[gcode_macro LED_HEATING]
gcode:
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=heating

[gcode_macro LED_PROGRESS]
gcode:
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=progress









[gcode_macro LED_WEISS2]
gcode:
    STOP_LED_EFFECTS
    SET_LED LED=neo2 RED=1 GREEN=1 BLUE=1 
    
[gcode_macro LED_GRUEN2]
gcode:
    STOP_LED_EFFECTS
    SET_LED LED=neo2 RED=0 GREEN=1 BLUE=0 
   
[gcode_macro LED_ROT2]
gcode:
    STOP_LED_EFFECTS
    SET_LED LED=neo2 RED=1 GREEN=0 BLUE=0 
    

[gcode_macro LED_BLAU2]
gcode:
    STOP_LED_EFFECTS
    SET_LED LED=neo2 RED=0 GREEN=0 BLUE=1 
[gcode_macro LED_OFF2]
gcode:
    STOP_LED_EFFECTS
    SET_LED LED=neo2 RED=0 GREEN=0 BLUE=0 


[led_effect idle]
leds:                               
    neopixel:neo
layers:            
    breathing   10   0 add (1, 1, 1)  
    gradient    0.01 0 top  (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)
frame_rate:                            24
autostart:                             false

[led_effect progress]
leds:                               
    neopixel:neo
layers:            
    progress   4  4 top (1, 1, 1),(1, 0, 0),(0, 1, 0)  
    
frame_rate:                            24
autostart:                             false

[led_effect light]
leds:                               
    neopixel:neo
layers:            
    static         1 1  top (1,1,1)
frame_rate:                            10
autostart:                             true

[led_effect rgb]
leds:
    neopixel:neo
layers: 
    gradient       1 1  top  (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)
autostart:                             false
frame_rate:                            24

[led_effect critical_error]
leds:
    neopixel:neo
layers: 
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)  
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24

[led_effect heating]
leds:                               
    neopixel:neo
autostart:                          false
frame_rate:                         24
heater:                             heater_bed
layers:
    heater 20 0 top    (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

[led_effect kitt]
leds:
    neopixel:neo
layers: 
    comet       0.5 1.0  top  (1.0, 0.0, 0.0),(0.5, 0.0, 0.0),(0.3, 0.0, 0.0),(0.1, 0.0, 0.0)
autostart:                             false
frame_rate:                            24


[led_effect idle2]
leds:                               
    neopixel:neo2
layers:            
    breathing   10   0 add (1, 1, 1)  
    gradient    0.01 0 top  (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)
frame_rate:                            24
autostart:                             false

[led_effect progress2]
leds:                               
    neopixel:neo2
layers:            
    progress   4  4 top (1, 1, 1),(1, 0, 0),(0, 1, 0)  
    
frame_rate:                            24
autostart:                             false

[led_effect light2]
leds:                               
    neopixel:neo2
layers:            
    static         1 1  top (1,1,1)
frame_rate:                            10
autostart:                             true

[led_effect rgb2]
leds:
    neopixel:neo2
layers: 
    gradient       1 1  top  (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)
autostart:                             false
frame_rate:                            24

[led_effect critical_error2]
leds:
    neopixel:neo2
layers: 
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)  
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24

[led_effect heating2]
leds:                               
    neopixel:neo2
autostart:                          false
frame_rate:                         24
heater:                             heater_bed
layers:
    heater 20 0 top    (1.0, 0.0, 0.0),(0.0, 1.0, 0.0),(0.0, 0.0, 1.0)

[led_effect kitt2]
leds:
    neopixel:neo2
layers: 
    comet       0.5 1.0  top  (1.0, 0.0, 0.0),(0.5, 0.0, 0.0),(0.3, 0.0, 0.0),(0.1, 0.0, 0.0)
autostart:                             false
frame_rate:                            24

#############################################################################################################
### MACRO CONFIGURATION
#############################################################################################################
[gcode_macro T0]
variable_join: 0
variable_remap: 0
variable_alert: ""
variable_filament_name: ""
variable_filament_type: ""
variable_filament_temp: 0
variable_runout_sensor: ""
variable_active: True
variable_color: "7bff33"                                          # Used in frontends
variable_hotend_type: "UHF"
variable_has_cht_nozzle: False
variable_cooling_position_to_nozzle_distance: 40                  # heatbreak length from cold zone to nozzle
variable_tooolhead_sensor_to_extruder_gear_distance: 15           # distance in mm from the sensor to the extruder gear
variable_extruder_gear_to_cooling_position_distance: 30           # distance in mm from the extruder gear to the end of the hotend cold zone
variable_filament_loading_nozzle_offset: -5
variable_filament_grabbing_length: 5
variable_filament_grabbing_speed: 1
variable_enable_insert_detection: True                            # enables filament sensor insert detection 
variable_enable_runout_detection: True                            # enables filament sensor runout detection 
variable_enable_clog_detection: True                              # enables filament sensor clog detection 
variable_unload_after_runout: True                                # unload filament after a runout has been detected
variable_purge_after_load: 0
variable_purge_before_unload: 0
variable_extruder_load_speed: 60
variable_filament_load_speed: 10
variable_standby: False
variable_temperature_offset: 0                                    # hotend temperature offset
variable_has_oozeguard: False                                     # toolhead has a oozeguard
variable_has_front_arm_nozzle_wiper: False                        # toolhead has front arm nozzle wipers
variable_toolhead_sensor_button_only_when_sensor_enabled: False   # if True, the toolhead sensor action button is only enabled when the sensor is enabled
variable_toolhead_detect_clog_only_when_sensor_enabled: True      # if True, toolhead sensor clog detection is only enabled when the sensor is enabled
variable_resume_after_insert: False                               # resumes the print after inserting new filament
gcode:
	{% set x = params.X|default(-1.0)|float %}
	{% set y = params.Y|default(-1.0)|float %}
	{% set z = params.Z|default(0.0)|float %}
	{% set s = params.S|default(1)|int %}
	{% if printer["gcode_macro _SELECT_TOOL"] is defined %}
		_SELECT_TOOL T=0 X={x} Y={y} Z={z} TOOLSHIFT={s}
	{% endif %}


[gcode_macro RatOS]
gcode:

variable_beacon_adaptive_heat_soak: True
variable_bed_margin_x: [59.6, 57.8]
variable_bed_margin_y: [14.35, 30]
variable_x_driver_types: ["tmc5160"]
variable_x_axes: ["x"]
variable_y_driver_types: ["tmc5160"]
variable_y_axes: ["y"]
variable_z_driver_types: ["tmc5160", "tmc5160", "tmc5160"]
variable_z_axes: ["z", "z1", "z2"]
variable_home_y_first: True



