[board_pins btt-kraken]
aliases:
	#----------------------------------------------- X motor pins -----------------------------------------------
	# Assigned to slot: "MOTOR 1"
	#------------------------------------------------------------------------------------------------------------
	x_step_pin=PC14,
	x_dir_pin=PC13,
	x_enable_pin=PE6,
	x_uart_pin=PD6,
	x_diag_pin=PC15,
	x_endstop_pin=PC15,
	#----------------------------------------------- Y motor pins -----------------------------------------------
	# Assigned to slot: "MOTOR 2"
	#------------------------------------------------------------------------------------------------------------
	y_step_pin=PE5,
	y_dir_pin=PE4,
	y_enable_pin=PE3,
	y_uart_pin=PD6,
	y_diag_pin=PF0,
	y_endstop_pin=PF0,
	#----------------------------------------------- Z motor pins -----------------------------------------------
	# Assigned to slot: "MOTOR 5"
	#------------------------------------------------------------------------------------------------------------
	z0_step_pin=PG9,
	z0_dir_pin=PG10,
	z0_enable_pin=PG13,
	z0_uart_pin=PA15,
	z0_diag_pin=PF3,
	#---------------------------------------------- Z1 motor pins -----------------------------------------------
	# Assigned to slot: "MOTOR 6"
	#------------------------------------------------------------------------------------------------------------
	z1_step_pin=PG11,
	z1_dir_pin=PD7,
	z1_enable_pin=PG12,
	z1_uart_pin=PA9,
	z1_diag_pin=PF4,
	#---------------------------------------------- Z2 motor pins -----------------------------------------------
	# Assigned to slot: "MOTOR 7"
	#------------------------------------------------------------------------------------------------------------
	z2_step_pin=PB4,
	z2_dir_pin=PB3,
	z2_enable_pin=PB5,
	z2_uart_pin=PA10,
	z2_diag_pin=PF10,
	
	#----------------------------------------------- GENERAL PINS -----------------------------------------------
	e_heater_pin=PF6,
	e_sensor_pin=PB1,
	e_power_draw_pin=null,
	stepper_spi_mosi_pin=PC8,
	stepper_spi_miso_pin=PC7,
	stepper_spi_sclk_pin=PC6,
	adxl345_cs_pin=PE10,
	bltouch_sensor_pin=PG1,
	bltouch_control_pin=PE9,
	probe_pin=PG1,
	fan_part_cooling_pin=PA0,
	fan_toolhead_cooling_pin=PA1,
	fan_controller_board_pin=PA2,
	heater_bed_heating_pin=PF5,
	heater_bed_sensor_pin=PB0,
	4p_fan_part_cooling_pin=PA6,
	4p_fan_part_cooling_tach_pin=PC1,
	4p_fan_part_cooling_enable_pin=null,
	4p_toolhead_cooling_pin=PE8,
	4p_toolhead_cooling_tach_pin=PG0,
	4p_controller_board_pin=PE8,
	4p_controller_board_tach_pin=PG0,
	run_led_pin=null,
	rgb_led_data_pin=null,
	filament_sensor_runout_pin=PF10,
	filament_sensor_motion_pin=PF4,
	ratrig_vaoc_probe_pin=PF1,
	ratrig_vaoc_led_pin=PF12,
	ratrig_vaoc_fan_pin=PA3,
	chamber_lighting_pin=PF8,
	chamber_filter_4p_fan_pin=PA4,
	chamber_filter_4p_fan_enable_pin=PA5

# Macro variable overrides
[gcode_macro RatOS]
variable_beacon_adaptive_heat_soak: True
variable_bed_margin_x: [59.6, 57.8]
variable_bed_margin_y: [14.35, 30]
variable_x_driver_types: ["tmc5160"]
variable_x_axes: ["x"]
variable_y_driver_types: ["tmc5160"]
variable_y_axes: ["y"]
variable_z_driver_types: ["tmc5160", "tmc5160", "tmc5160"]
variable_z_axes: ["z", "z1", "z2"]
variable_home_y_first: True








