#------------------------------------------------- Beacon -------------------------------------------------
[beacon]
serial:/dev/serial/by-id/usb-Beacon_Beacon_RevH_40708F584E5737374D202020FF113208-if00 
y_offset: 27.065
#   Y offset of beacon from the nozzle.
contact_max_hotend_temperature: 305 # increase to enable hot contacting
# Temperature limit for the hotend when contacting, override this for temps which may damage some surfaces.
backlash_comp: 0.04365