#------------------------------------------------- Heater Bed -------------------------------------------------
[heater_bed]
#control: pid
heater_pin: PF5
sensor_type: Generic 3950
sensor_pin: PC4
min_temp: 0 
max_temp: 120
pwm_cycle_time: 0.02 # 50hz for european AC, to avoid flickering lights.