#------------------------------------------------- Bed Mesh -------------------------------------------------
[bed_mesh]
speed: 600
horizontal_move_z: 2
mesh_min: 30,28
mesh_max: 205,165
algorithm: bicubic
#fade_start: 1
#fade_end: 10
#split_delta_z: .025
#move_check_distance: 5
probe_count: 30,30
mesh_pps: 0,0
bicubic_tension: 0.1
#zero_reference_position: #117.5 , 117.5


# Beacon contact mesh area adjusted for beacon contact sensing
[beacon]
contact_mesh_min: 20,20
contact_mesh_max: 200,165