#------------------------------------------------- Chamber Heater -------------------------------------------------
[temperature_sensor chamber]
sensor_type: ATC Semitec 104NT-4-R025H42G
pullup_resistor: 4700
sensor_pin: PB0
min_temp: 0
max_temp: 80
#gcode_id: C: C
[heater_generic chamber_heater]
gcode_id: chamber_heater
heater_pin: PF8
smooth_time: 10
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA7
control: pid
pid_kp: 24.750
pid_ki: 2.578
pid_kd: 59.400
pwm_cycle_time: 0.25
min_temp: 0
max_temp: 100
max_power: 1.0
[heater_fan chamber_heater_fan]
pin: PA5
max_power: 1.0
kick_start_time: 0.5
heater: chamber_heater
heater_temp: 30.0
[verify_heater chamber_heater]
max_error: 100
check_gain_time: 100
hysteresis: 5
heating_gain: 2