#------------------------------------------------- Fans -------------------------------------------------
# Hotend cooling fan
[heater_fan toolhead_cooling_fan]
heater: extruder
# 4-pin fan connected to 2-pin header on Kraken - digital pwm
pin: PA0
cycle_time:  0.00004
shutdown_speed: 1

# Part cooling fan
[fan]
# 4-pin fan connected to 2-pin header on Kraken - digital pwm
pin: rpi:gpio26
max_power: 1
cycle_time: 0.002
hardware_pwm: false
shutdown_speed: 0
[fan_generic RSCS]
pin: PA4
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10
[fan_generic Exhaust_fan]
#  Nevermore - In E1 OUT Position
pin: PA3
max_power: 1.0
kick_start_time: 0.5






