[gcode_macro HOME_Z]
gcode:
    NOZZLE_CLEAN
	# config
	{% set x_homed = 'x' in printer.toolhead.homed_axes %}
	{% set y_homed = 'y' in printer.toolhead.homed_axes %}
	{% set z_probe = printer["gcode_macro RatOS"].z_probe %}

	# beacon contact config
	{% set beacon_contact_z_homing = true if printer["gcode_macro RatOS"].beacon_contact_z_homing|default(false)|lower == 'true' else false %}

	# parameter
	{% set X = true if params.X|lower == 'true' else false %}
	{% set Y = true if params.Y|lower == 'true' else false %}
	{% set Z = true if params.Z|lower == 'true' else false %}

	DEBUG_ECHO PREFIX="HOME_Z" MSG="x_homed: {x_homed}, y_homed: {y_homed}, z_probe: {z_probe}, beacon_contact_z_homing: {beacon_contact_z_homing}"

	# home z
	{% if Z or not Y and not X %}
		RATOS_ECHO MSG="Homing Z"
		{% if x_homed == False or y_homed == False %}
			{ action_emergency_stop("X and Y must be homed before homing Z") }
		{% else %}
			{% if z_probe == "stowable" %}
				DEPLOY_PROBE
				_MOVE_TO_SAFE_Z_HOME
				{% if printer.configfile.settings.beacon is defined and beacon_contact_z_homing %}
					BEACON_AUTO_CALIBRATE SKIP_MODEL_CREATION=1
					_MOVE_TO_SAFE_Z_HOME Z_HOP=True
				{% else %}
					G28 Z
				{% endif %}
				_Z_HOP
				STOW_PROBE
			{% else %}
				_MOVE_TO_SAFE_Z_HOME
				{% if printer.configfile.settings.beacon is defined and beacon_contact_z_homing %}
					BEACON_AUTO_CALIBRATE SKIP_MODEL_CREATION=1
					_MOVE_TO_SAFE_Z_HOME Z_HOP=True
				{% else %}
					G28 Z
				{% endif %}
				_Z_HOP
			{% endif %}
		{% endif %}
	{% endif %}