#############################################################################################################
### BASE SETUP
#############################################################################################################
[include RatOS/homing.cfg]
[include RatOS/macros.cfg]
[include RatOS/shell-macros.cfg]
[include RatOS/printers/v-core-4/v-core-4.cfg]
[include RatOS/printers/v-core-4/macros.cfg]
[include RatOS/printers/v-core-4/300.cfg]
#[include RatOS/boards/rpi/config.cfg]