#---------------------------------------------------- Y -----------------------------------------------------
# The B motor in the CoreXY system, located at the rear right of the printer
#------------------------------------------------------------------------------------------------------------
[stepper_y]
step_pin: PE5
dir_pin: PE4
enable_pin: !PE3
full_steps_per_rotation: 200
endstop_pin: PC0
rotation_distance: 40     # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
microsteps: 64
position_max: 232.5
position_endstop: 0
position_min: 0
homing_speed: 50

[tmc5160 stepper_y] 
interpolate: false
run_current: 1.6
stealthchop_threshold: 0
cs_pin: PD5
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
spi_software_sclk_pin: PC6
sense_resistor: 0.022






#############################################################################

[stepper_y1]
step_pin: PB9
dir_pin: !PB8
enable_pin: !PB7
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200

[tmc5160 stepper_y1] 
cs_pin: PD3
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PF2
run_current: 1.6
sense_resistor: 0.022
stealthchop_threshold: 0

############################################################################

[gcode_macro RatOS]
variable_homing_y: "endstop"