#---------------------------------------------------- Z -----------------------------------------------------
# The left Z motor for the kinematic bed
#------------------------------------------------------------------------------------------------------------
[stepper_z]
dir_pin: z0_dir_pin      
rotation_distance: 2      
homing_speed: 10
position_min: -2
position_max: 169
step_pin: PG9
dir_pin: PG10
enable_pin: !PG13
microsteps: 64
full_steps_per_rotation: 200
position_min: -5
homing_speed: 10
endstop_pin: probe:z_virtual_endstop

[tmc5160 stepper_z]
stealthchop_threshold: 0
interpolate: False
cs_pin: PD2
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
spi_software_sclk_pin: PC6
run_current: 1.768
driver_TBL: 0
driver_TOFF: 4
driver_HEND: 0
driver_HSTRT: 4
sense_resistor: 0.075
run_current: 1.2

#################################################################################

[stepper_z1]
dir_pin: z1_dir_pin
step_pin: PG11
dir_pin: PD7
enable_pin: !PG12
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 2

[tmc5160 stepper_z1]
stealthchop_threshold: 0
interpolate: False
cs_pin: PA15
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
spi_software_sclk_pin: PC6
run_current: 1.768
driver_TBL: 0
driver_TOFF: 4
driver_HEND: 0
driver_HSTRT: 4
sense_resistor: 0.075
run_current: 1.2

#################################################################################

[stepper_z2]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB5
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 2
dir_pin: z2_dir_pin 

[tmc5160 stepper_z2]
stealthchop_threshold: 0
interpolate: False
cs_pin: PA9
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
spi_software_sclk_pin: PC6
run_current: 1.768
driver_TBL: 0
driver_TOFF: 4
driver_HEND: 0
driver_HSTRT: 4
sense_resistor: 0.075
run_current: 1.2






