#---------------------------------------------------- X -----------------------------------------------------
# The A motor in the CoreXY system, located at the rear left of the printer
#------------------------------------------------------------------------------------------------------------
[stepper_x]
endstop_pin: PF10
step_pin: PC14
dir_pin: PC13
enable_pin: !PE6
full_steps_per_rotation: 200
dir_pin: x_dir_pin        # Add ! in front of pin name to reverse the direction of stepper_x
rotation_distance: 40     # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
microsteps: 64
position_max: 235
position_endstop: 0
position_min: 0
homing_speed: 50
[tmc5160 stepper_x] 
interpolate: false
run_current: 1.6
stealthchop_threshold: 0
cs_pin: PD6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
spi_software_sclk_pin: PC6
sense_resistor: 0.022






#############################################################################################################

[stepper_x1]
step_pin: PE2 
dir_pin: !PE1 
enable_pin: !PE0 
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
[tmc5160 stepper_x1] 
cs_pin: PD4
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
##diag1_pin: PF1
sense_resistor: 0.022
interpolate: false
run_current: 1.6
stealthchop_threshold: 0 

#############################################################################################################

[gcode_macro RatOS]
variable_homing_x: "endstop"

