#------------------------------------------------- Z_Tilt -------------------------------------------------
[z_tilt]
 
 z_positions: #Kugeln
   -65.00, 0                
    112.50, 283                
    300, 0 
    
 points: #Probpunkte
  20, 5      
  20, 165 
  215, 5
speed: 600


